<!-- as seen on https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping -->
<!-- this is needed when using central package management -->
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>